/*Sabir React framework core styles*/


.my_calendar{
    background-color: white;
}

.my_calendar .week_row{
    display: block;
}

.my_calendar .days_placeholder {
    display: block;
}

.my_calendar .additional_content_placeholder {
    display: block;
}

.my_calendar .day_placeholder, .my_calendar .header_column{
    display: inline-block;
    vertical-align: top;
    /*padding: 10px;*/
    position: relative;
    width: 14.2%;
}

.my_calendar.has_total_week .week_placeholder .day_placeholder, .my_calendar.has_total_week .header_column{
    width: 12.5%;
}

.my_calendar .header_column{
    padding-left: 3px;
    padding-right: 3px;
    font-size: 18px;
    padding-bottom: 10px;
}

.my_calendar .dayNumber{
    position: absolute;
    left: 3px;
    top: 3px;
    font-size: 14px;
    opacity: 0.8;
}

.my_calendar .dayNumber.today{
    font-weight: bold;
    color: #212121;
}

.my_calendar .dayNumber.selected{
    font-weight: bold;
}

.my_calendar .day_placeholder.not_this_month .dayNumber{
    opacity: 0.4;
}

.my_calendar .day_placeholder{
    min-height: 70px;
}

.my_calendar .day_placeholder:hover{

}

.my_calendar .month_switcher_placeholder{
    text-align: center;
}

.my_calendar .month_switcher_placeholder .month_name_placeholder{
    display: inline-block;
    vertical-align: top;
}

.my_calendar .month_switcher_placeholder .month_name_placeholder .month{
    display: inline-block;
    vertical-align: top;
}

.my_calendar .month_switcher_placeholder .month_name_placeholder .year{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.my_calendar .month_switcher_placeholder{
    line-height: 36px;
    font-size: 20px;
}

.my_calendar .month_switcher_placeholder .back_placeholder{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    text-align: center;
}

.my_calendar .month_switcher_placeholder .back_placeholder i{
    cursor: pointer;
    opacity: 0.5;
    margin-right: 0px;
}

.my_calendar .month_switcher_placeholder .back_placeholder i:hover, .my_calendar .month_switcher_placeholder .next_placeholder i:hover{
    opacity: 0.8;
}

.my_calendar .month_switcher_placeholder .next_placeholder{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    text-align: center;
}

.my_calendar .month_switcher_placeholder .next_placeholder i{
    cursor: pointer;
    opacity: 0.5;
    margin-right: 0px;
}

.my_calendar .day_content{
    text-align: center;
    padding: 3px;
    cursor: pointer;
    background-color: #F8FFF8;
    border-radius: 3px;
}

.my_calendar .day_content:hover{
    /*background-color: #EFEBE9;*/
    background-color: #FFF8E1;
}


.my_calendar .day_content .score_placeholder{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.my_calendar .day_content .duration_placeholder{
    text-align: center;
}


.my_calendar .week_duration{
    margin-top: 3px;
    margin-left: 3px;
    font-weight: bold;
}

.my_calendar .month_switcher_placeholder.current_month .next_placeholder i{
    opacity: 0.1;
    cursor: default;
}

.my_calendar .delta_score{
    opacity: 0.5;
    margin-left: 5px;
    font-size: 10px;
    vertical-align: super;
}

.my_calendar .delta_score.negative{
    color: #BF360C;
}

.my_calendar .delta_score.positive{
    color: #1B5E20;
}

/*loading*/
.mini_loading{
    opacity: 0.6;
    text-align: center;
    padding: 10px;
}

.under_construction_placeholder{
    padding: 10px;
    background-color: white;
    margin: 0 auto;
    width: 940px;
    margin-top: 10px;
}

.under_construction_placeholder .under_construction{
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-image: url('https://d13yacurqjgara.cloudfront.net/users/634508/screenshots/2577723/naughtyorangedribbble.gif');*/
    /*background-image: url('');*/
    background-image: url('https://d13yacurqjgara.cloudfront.net/users/634508/screenshots/2104514/raptorcat.gif');
}

.under_construction_placeholder .under_construction_text{
    padding: 10px;
    text-align: center;
}

/*auth form*/
.auth_form{

}

.auth_form .form_placeholder{

}

.auth_form .switcher_placeholder{
    margin-top: 10px;
}

.auth_form .switcher_placeholder .switcher{
    opacity: 0.7;
    text-align: center;
}

.auth_form .switcher_placeholder .switcher .switcher_link{
    cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
}

.auth_form .switcher_placeholder .switcher .switcher_link:hover{
    font-weight: bold;
}

.auth_panel{
    background: white;
    position: relative;
    padding: 10px;
    /*width: 400px;*/
    width: 340px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 3px;
}

/*init placeholder*/

.initializing_placeholder{
    padding: 40px;
    padding-top: 100px;
    text-align: center;
    font-size: 30px;
    opacity: 0.4;
}

/*simple template*/
/*header height: 100px */

.simple_user_template {
    height: 100vh;
    width: 100vw;
}
.simple_user_template > .header{
    height: 40px;
    position: relative;
    background-color: white;
    /*border-bottom: 1px solid lightgray;*/
    border-bottom: 1px solid #E7E9E9;
}
.simple_user_template > .header .header_inner{
    width: 960px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    /*text-align: center;*/
}
.simple_user_template > .header .logo_placeholder {
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 10px;
}

.simple_user_template > .header .center_links_placeholder{
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    /*margin-left: 170px;*/
    margin-left: 70px;
}

.simple_user_template > .header .center_links_placeholder .link_item{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    color: #212121;
}

.simple_user_template > .header .center_links_placeholder .link_item:hover{
    opacity: 0.8;
    border-bottom: 3px solid #FC636B;
}

.simple_user_template > .header .center_links_placeholder .link_item.active{
    border-bottom: 3px solid #FC636B;
}

.simple_user_template > .header .logo_placeholder > .logo_img_placeholder{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding: 6px;
}

.simple_user_template > .header .logo_placeholder > .logo_img_placeholder img.logo{
    height: 100%;
}

.simple_user_template > .header .logo_placeholder .company_name{
    display: inline-block;
    margin-left: 10px;
    line-height: 40px;
    font-size: 20px;
    vertical-align: top;
}

.simple_user_template > .content{
    height: calc(100vh - 40);
}

.simple_user_template > .header .right_placeholder{
    position: absolute;
    right: 10px;
    line-height: 40px;
    font-size: 16px;
    top: 0px;
}

.simple_user_template > .header .right_placeholder .current_user_placeholder{
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.simple_user_template > .header .right_placeholder .logout_placeholder{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.simple_user_template > .header .right_placeholder .logout_placeholder .logout{
    cursor: pointer;
}

.simple_user_template > .header .right_placeholder .logout_placeholder .logout:hover{
    opacity: 0.8;
}

.simple_user_template > .header .right_placeholder .current_user_placeholder .name_placeholder{
    display: inline-block;
    vertical-align: top;
    height: 50px;
}

.simple_user_template > .header .right_placeholder .current_user_placeholder .avatar_placeholder{
    display: inline-block;
    vertical-align: top;
    height: 50px;
    padding: 5px;
}

.simple_user_template > .header .right_placeholder .current_user_placeholder .avatar_placeholder img.avatar{
    height: 100%;
    border-radius: 1000px;
}

/*dialog*/
.dialog{

}

.dialog > .dialog_overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    /*background: rgba(150, 181, 116, 0.8);*/
    background: rgba(0, 0, 0, 0.9);

}

.dialog > .main_panel{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.dialog > .main_panel .dialog_content_placeholder{
    width: 100%;
    height: 100%;
    position: relative;
}

.dialog > .main_panel .dialog_content_placeholder .dialog_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog > .main_panel .dialog_content_placeholder .dialog_content > .inner_content{
    width: 100%;
    height: 100%;
    max-height: 80vh;
    /*overflow-y: ;*/
    position: relative;
}

.dialog > .main_panel .dialog_content_placeholder .close_button_placeholder{
    position: absolute;
    right: -26px;
    top: -26px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
    border-radius: 1000px;
    /*background-color: white;*/
    cursor: pointer;
    opacity: 0.9;
    color: white;
    transition: all .3s ease-in-out;
}

.dialog > .main_panel .dialog_content_placeholder .close_button_placeholder:hover{
    opacity: 1;
    transform: scale(1.1);
}

.dialog > .main_panel .dialog_content_placeholder .close_button_placeholder i{
    margin-right: 0px !important;
    font-weight: 100 !important;
    opacity: 0.7;
    vertical-align: top;
}

.delete_button_placeholder > .button.ui{

}

.noMarginRight{
    margin-right: 0px !important;
}

.simple_loading_placeholder{
    padding: 10px;
    text-align: center;
    opacity: 0.6;
}